@import url('//fonts.googleapis.com/css?family=Bungee+Shade:400italic,700italic,400,700|Cinzel:400,700|Libre+Baskerville:400,400i,700');

.aboutImage {
  width: 90%;
  border-radius: 15px 15px 15px 15px;
}

a {
  font-size: 1em;
}

.nav {
  font-size: 2em;
}
