a.text-decoration {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.delay-1{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
}


.delay-2{
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}

.delay-3{
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
}

.delay-4 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
}

.delay-5{
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -moz-animation-direction: alternate;
}

.end-h3 {
  padding-bottom: 1em;
  background: none;
  color: rgb(0, 0, 0);
  width: 60%;
  margin: auto;
}

.end-thankyou {
  padding-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

p {
  font-size: 2em;
}
