a.text-decoration {
  text-decoration-color: #FFFFFF;
}

.text-center {
  text-align: center;
}

.delay-2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
}

.delay-4 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
}

.delay-6 {
-webkit-animation-delay: 6s;
-moz-animation-delay: 6s;
}

.delay-8 {
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
}

.delay-10 {
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
}

.delay-12 {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 102;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -webkit-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -moz-animation-direction: alternate;
}

.anchorColor {
  color: #000000;
}

.end-h3 {
  padding-bottom: 1em;
  background: none;
  color: rgb(0, 0, 0);
  width: 60%;
  margin: auto;
}

.end-thankyou {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

p {
  font-size: 2em;
}
