footer {
  background-color: rgb(125, 134, 149);
  color: rgb(10, 10, 10);
  padding-left: 0;
  padding-top: 2em;
}

.footer-text {
  font-size: 1em;
}

.about {
  font-family: Cinzel;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}
