@media screen and (min-width: 35em) {

  footer {
    display: flex;
    justify-content: space-between;
    height: 6em;

    .about {
      display: flex;
      justify-content: flex-end;
      padding-right: 2em;
    }
  }
}
