.sceneImage {
  background-size: 100% auto;
  background-size: cover;
  height: 75vh;
}

.option_icon:hover {
  color: #84BBEA;
}

.choiceDisplay {
  display: none;
  color: #84BBEA;
}

.clickText {
  color: rgb(255,255,255);
  background-color: rgb(144,155,158);
}
