.loginStoryImage {
  width: 50%;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 2em;
}

.loginStoryText {
  background: none;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 2em;
  font-family: Cinzel;
}

.login-header {
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}

.login-home {
  margin-left: 1em;
  color: rbg(255, 255, 255);
}

a {
  font-family: Cinzel;
  font-size: 1.5em;
}

.storyDescription {
  padding-top:2em;
}

h2 {
  background-color: rgb(125, 134, 149);
}

.btn {
  background-color: rgb(127, 138, 156);
  border-radius: 15px 15px 15px 15px;
}

.btn-default {
  color: rgb(236, 243, 255);
}

.btn-default:hover{
  color: rgb(236, 243, 255);
  background-color: rgba(24, 38, 49, 0.73);
  border-color: rgb(173, 173, 173);
}

.input-headers {
  font-size: 1.5em;
}
