.loginStoryImage {
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em;
  margin-bottom: .5em;
  display: block;
  width: 45%;
  height: 45%;
  border-radius: 15px 15px 15px 15px;
}

.loginStoryText {
  background: none;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  font-family: Cinzel;
}

.login-header {
  border-radius: 15px 15px 15px 15px;
}

.login-home {
  margin-left: 1em;
}

a {
  font-family: Cinzel;
  font-size: 1.5em;
}

footer {
  margin-top: 9em;
}

.storyDescription {
  padding-top:2em;
}

h2 {
  background-color: rgb(125, 134, 149);
}

.btn {
  background-color: rgb(127, 138, 156);
  border-radius: 15px 15px 15px 15px;
}

.btn-default:hover{
color: rgb(236, 243, 255);
background-color: rgba(44, 68, 88, 0.73);
border-color: #adadad;
}
