@media screen and (min-width: 35em) {
  .storyDescription {
    display: flex;
  }

  .loginStoryText {
    display: inline-block;
    margin-top: .25em;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
  }

  .loginStoryImage {
    width: 25%;
    height: 25%;
    margin-left: .5em;
  }
}
