@media screen and (min-width: 35em) {
  .storyDescription {
    display: flex;
  }

  .loginStoryText {
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .loginStoryImage {
    margin: 1em;
  }
}
