@import url('//fonts.googleapis.com/css?family=Bungee+Shade:400italic,700italic,400,700|Cinzel:400,700|Libre+Baskerville:400,400i,700');

body {
  background-color: rgba(187, 191, 197, 0.45);
}

.header {
  padding: 2em;
}

.backpack {
  width: 8em;
  border-radius: 200px;
  background-color: #DDD;
  border: 5px solid rgb(95, 95, 95);
  margin-top: 25px;
  filter: brightness(90%);
}

h1 {
  font-family: Bungee Shade;
  font-size: 5em;
  color: rbg(0, 0, 0);
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-family: Cinzel;
  background-color: rgb(149,165,166);
}

h3 {
  width: 100%;
  text-align: center;
  color: rbg(0, 0, 0);
  font-family: Cinzel;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 2.5em;
}

h4 {
  font-family: Cinzel;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.input-headers{
  font-family: Cinzel;
}

.start {
  display: flex;
}

.startImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 95%;
  border-radius: 15px 15px 15px 15px;
}

.btn {
  background-color: rgb(149,165,166);
  border: none;
  padding: 1em 2em;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  float:right;
}

.ready {
  animation-duration: 2s;
  animation-name: slidein;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-family: Cinzel;
  font-size: 3em;
  color: rgb(0, 0, 0);
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.bg-warning {
  font-size: 1em;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img_wrap {
  position: relative;
}

.img_description {
  text-align: center;
  left: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  background: rgb(0, 0, 0);
  border-radius: 15px 15px 15px 15px;
  font-size: 3em
}

.img_wrap:hover .startImage {
  opacity: 0.6;
}

.img_wrap:hover .middle {
  opacity: 1;
}

.stories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2em;

  .img_wrap {
    box-sizing: border-box;
    margin: 1em;
    flex: 0 0 95%;
  }
}

.choose_wrap {
  border-top: 2px solid rgb(30, 29, 39);
  border-bottom: 2px solid rgb(30, 29, 39);
  margin-left: 2em;
  margin-right: 2em;
}

.choose {
  animation: pulse 6s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  font-family: Cinzel;
}
