@import url('//fonts.googleapis.com/css?family=Bungee+Shade:400italic,700italic,400,700|Cinzel:400,700');

.start {
  display: flex;
}

.startImage {
  width: 90%;
  border-radius: 15px 15px 15px 15px;
}

p {
  font-family: Cinzel;
}

.ready{
  font-family: Cinzel;
}
