<section class='header'>
  <h1 class='text-center'>About Iron Adventure</h1>
</section>

<p>Iron Adventure is an interactive short story application that converts a reader into a player.
  Players get to choose a storyline and are presented scenes in which they get to chose which way
  the story goes.</p>

<p>Iron Adventure was built by:</p>
<p>Nadia Mughal</p>
  <ul>
    <li><a href='https://www.linkedin.com/in/nadiamughal/'>LinkedIn</a></li>
    <li><a href='https://github.com/nmughal'>Github</a></li>
  </ul>

<p>David Steed</p>
  <ul>
    <li><a href='https://www.linkedin.com/in/davidasteed/'>LinkedIn</a></li>
    <li><a href='https://github.com/davidasteed'>Github</a></li>
  </ul>

<p>Students at the Iron Yard in Washington, DC.</p>

<img class='img-responsive center-block aboutImage' src='/images/about.jpg' alt='About image'>

<footer>
  <p class='footer-text'>&copy; 2017 Created by Nadia Mughal and David Steed</p>
</footer>
