<img class='img-responsive center-block backpack' src='/images/compass.jpg'>

<section>
  <h1 class='text-center title'>About Iron Adventure</h1>
</section>

<aside>
  <a class='nav' ui-sref='start'>Home</a>
</aside>

<p class='about-ia'>Iron Adventure is an interactive short story application in which
  you as the player make choices that matter. Your decisions can change the story.</p>

<p class='built'>Creators</p>
<p>Nadia Mughal</p>
  <ul>
    <li><a href='https://www.linkedin.com/in/nadiamughal/'>LinkedIn</a></li>
    <li><a href='https://github.com/nmughal'>Github</a></li>
  </ul>

<p>David Steed</p>
  <ul>
    <li><a href='https://www.linkedin.com/in/davidasteed/'>LinkedIn</a></li>
    <li><a href='https://github.com/davidasteed'>Github</a></li>
  </ul>

<p>The Iron Yard in Washington, DC.</p>

<img class='img-responsive center-block aboutImage' src='/images/about.jpg' alt='About image'>

<footer>
  <p class='footer-text'>&copy; 2017 Created by Nadia Mughal and David Steed</p>
</footer>
