<section>
  <h1 class='text-center'>Welcome to Iron Adventure</h1>
  <p class='text-center'>Begin Your Journey</p>
</section>


<aside>
<a ui-sref='about' ng-click='playerCtrl.goToAbout()'>About</a>
<a ui-sref='start'>Home</a>
</aside>

<p>Iron Adventure is an interactive short story application that converts a reader into a player.
  Players get to choose a storyline and are presented scenes in which they get to chose which way
  the story goes.</p>

<p>Iron Adventure was built by Nadia Mughal and David Steed, students at the Iron Yard school in
  Washington, DC.</p>

<img class='img-responsive center-block aboutImage' src='/images/about.jpg' alt='About image'>
