<article class='endScene'>

  <section class='animated slideInDown'>
    <h1 class='text-center'>
      The Iron Adventure
    </h1>

    <h2 class='text-center'>You have scored a {{75}}% overall rating!</h2>
  </section>
  <h3 class='text-center fadeIn animated delay-2'>
    In each step in the journey to becoming a developer, you scored:
  </h3>

  <p class='text-center delay-4 slideInLeft animated greatScore white'>
    Do the pre-work: {{100}}%
  </p>

  <p class='text-center delay-4 slideInRight animated greatScore white'>
    Attendance: {{100}}%
  </p>
  <p class='text-center delay-6 slideInLeft animated poorScore white'>
    Time-efficient effort: {{50}}%
  </p>
  <p class='text-center delay-6 slideInRight animated fairScore white'>
    Stress Management: {{75}}%
  </p>
  <p class='text-center delay-8 slideInLeft animated white poorScore'>
    Ask Questions: {{50}}%
  </p>
  <p class='text-center delay-8 slideInRight animated white fairScore'>
    Socialize! {{75}}%
  </p>

  <p>Thanks for playing!</p>

</article>
