<article>

  <img class='img-responsive center-block backpack animated slideInDown' src='/images/compass.jpg'

  <section class='animated slideInDown'>
    <h1 class='text-center'>Iron Adventure</h1>
  </section>

  <h3 class='text-center fadeIn animated delay-1 end-h3'>
    In the journey to becoming a developer, you encountered the following
    challenges:
  </h3>

  <p class='text-center delay-1 slideInLeft animated'>
    Do the pre-work
  </p>

  <p class='text-center delay-1 slideInRight animated'>
    Attendance
  </p>

  <p class='text-center delay-2 slideInLeft animated'>
    Time-efficient effort
  </p>

  <p class='text-center delay-2 slideInRight animated'>
    Stress Management
  </p>

  <p class='text-center delay-3 slideInLeft animated'>
    Ask Questions
  </p>

  <p class='text-center delay-3 slideInRight animated'>
    Socialize
  </p>

  <p class='text-center delay-4 fadeIn animated end-thankyou'>
    Thanks for playing!
  </p >

  <p
    class='text-center delay-5 fadeIn animated infinite'
    ng-click='sceneCtrl.gotoStart()'>
    <a class='text-decoration black'>Click to return to Home page</a>
  </p>

</article>
