<article class='sceneText'>
  <p>{{sceneCtrl.currentScene.sceneText}}</p>
</article>

<article
  class='sceneImage' ng-style='{ "background-image":"url(" + sceneCtrl.currentScene.sceneImage + ")" }'>
  <section ng-repeat='sceneChoices in sceneCtrl.currentScene'>

    <p
      class='clickText'
      ng-repeat = 'sceneChoice in sceneChoices track by $index'
      ng-click = 'sceneCtrl.loadScene(
        sceneCtrl.currentScene.id,
        sceneChoice.choiceText,
        sceneCtrl.getEmail())'>

      <a class='clickText' ng-class='sceneChoice.choiceIcon'></a>
      {{sceneChoice.choiceText}}

    </p>
  </section>
</article>
