<img class='img-responsive center-block backpack' src='/images/compass.jpg'

<section class='header'>
  <h1 class='text-center'>Iron Adventure</h1>
</section>

<section class='storyDescription'>
  <img class='loginStoryImage' src='/images/hipster-workplace.jpg' alt='Coding bootcamp'>
  <aside class='loginStoryText header'>
    The Coding Bootcamp Story: Begin the journey to become a developer.
  </aside>
</section>

<a class='login-home' ui-sref='start'>Home</a>

<fieldset class='input-form container-fluid'>
  <h2 id='login' class='login-header'>Sign In</h2></a>
  <form
    class='form-inline'
    name='loginPlayer'
    ng-submit='loginPlayer.$valid && playerCtrl.login(playerCtrl.playerInfo)'
    novalidate>

    <aside class='form-group'>

      <p class='bg-warning' ng-show='loginPlayer.name.$touched && !loginPlayer.name.$valid'>
        Please enter a name</p>

      <label class='input-headers' for='name'>Name</label>

      <input
        class='form-control mb-2 mr-sm-2 mb-sm-0'
        type='text'
        ng-model='playerCtrl.playerInfo.playerName'
        class='form-control'
        name='name'
        placeholder='Name'
        id='name-input'
        required>
    </aside>

    <aside class='form-group'>
      <p class='bg-warning' ng-show='loginPlayer.email.$touched && !loginPlayer.email.$valid'>
        Please enter an email</p>

      <label class='input-headers' for='email'>Email Address</label>

      <input
        class='form-control mb-2 mr-sm-2 mb-sm-0'
        type='email'
        ng-model='playerCtrl.playerInfo.playerEmail'
        class='form-control'
        name='email'
        placeholder='Email'
        id='email-input'
        required>
    </aside>

    <input type='submit' class='btn btn-default' value='Submit'>
  </form>
</fieldset>

<footer>
  <p class='footer-text'>&copy; 2017 Created by Nadia Mughal and David Steed</p>
  <a class='about' ui-sref='about'>About</a>
</footer>
