<section>
  <p>Begin The Story</p>
</section>

<fieldset>
      <legend>Login</legend>
      <form ng-submit='playerCtrl.input(playerCtrl.playerInfo)'>
        <aside>
          <label for='name'>Name</label>
          <input
          type='text'
          ng-model='playerCtrl.playerInfo.playerName'
          class='form-control'
          name='fullname'
          placeholder='Name'
          id='fullname-input'
          required>
        </aside>

        <aside>
          <label for='email'>Email Address</label>
          <input
          type='email'
          ng-model='playerCtrl.playerInfo.playerEmail'
          class='form-control'
          name='email'
          placeholder='Email'
          id='email'
          required>
        </aside>
        <input type='submit' class='btn btn-default' value='Submit'>
      </form>
</fieldset>
