<aside>

  <section>
    <h1 class='text-center'>Welcome to Iron Adventure</h1>
    <p class='text-center ready'>Begin Your Journey</p>
  </section>

  <a ui-sref='about'>About</a>

  <h3>Choose Your Story and Sign In</h3>

  <section class='img_wrap'>
    <h4 class='img_description'>Coding Bootcamp</h4>
    <a ui-sref='login'><img class='img-responsive center-block startImage' src='/images/hipster-workplace.jpg' alt='Coding bootcamp'></a>
  </section>

  <section class='img_wrap'>
    <h4 class='img_description'>Game of Thrones</h4>
    <img class='img-responsive center-block startImage' src='/images/got.jpg' alt='GOT image'>
  </section>

  <section class='img_wrap'>
    <h4 class='img_description'>WestWorld</h4>
    <img class='img-responsive center-block startImage' src='/images/westworld.jpg' alt='Westworld image'>
  </section>

  <section class='img_wrap'>
    <h4 class='img_description'>Build Your Own Story</h4>
    <img class='img-responsive center-block startImage' src='/images/ships.jpg' alt='Ship image'>
  </section>

</aside>
