<section class='gameplayTemplate'>
  <article>
    <section class="panel panel-default">
      <section class="panel-heading">
        <h3 class="panel-title">Scene pane</h3>
      </section>
      <section class="panel-body">
        Panel content
      </section>
    </section>
  </article>
  <article>
    <section class="panel panel-default">
      <section class="panel-heading">
        <h3 class="panel-title">Narrative/Event pane</h3>
      </section>
      <section class="panel-body">
        You begin your adventure in a small room.
        There is a door to the north.
      </section>
    </section>
  </article>
</section>
