
<!-- note:  this is test code that validates basic nav operation on the game page
it must be deleted prior to commit to master -->
<article class='sceneImage'>

  <p class='choiceDisplay' ng-class='{"choiceDisplay": sceneCtrl.toggle}'>
    <a class='glyphicon glyphicon-flash'></a>
    Get to the campus early, never been there before.
  </p>

  <p class='choiceDisplay' ng-class='{"choiceDisplay": sceneCtrl.toggle}'>
    <a class='glyphicon glyphicon-bed'></a>
    Sleep in as much as possible, could be a long day.
  </p>

  <p
    class='choiceDisplay'
    ng-class='{"choiceDisplay": sceneCtrl.toggle}'
    ng-click='sceneCtrl.toggle = !sceneCtrl.toggle'>
    <a class='glyphicon glyphicon-thumbs-down'></a>
    Let's keep our same routine, no sweat.
  </p>

</article>

<article>
  <p>1.  It is the morning of the first day of the coding bootcamp.</p>
  <p>Click the icon below and select an option in the above scene:</p>
  <a ng-click='sceneCtrl.toggle = !sceneCtrl.toggle' class='option_icon glyphicon glyphicon-menu-hamburger'></a>
</article>


<!-- NOTE:  the test code below validated basic scene switching -->
<!-- and must be deleted before commit to master -->
<!-- <article>
  <article>
    <section class="panel panel-default">
      <section class="panel-heading">
        <h3 class="panel-title">Scene pane</h3>
      </section>
      <section class="panel-body">
        Panel content
      </section>
    </section>
  </article>
  <article>
    <section class="panel panel-default">
      <section class="panel-heading">
        <h3 class="panel-title">Narrative/Event pane</h3>
      </section>
      <section class="panel-body">
        <p>{{sceneCtrl.currentScene.sceneChoice.choiceText}}</p>

        <p>{{sceneCtrl.currentScene.sceneChoice.choiceScore}}</p>

        <button ng-click='sceneCtrl.changeScene()' type="button" class="btn btn-primary btn-sm">Next Scene</button>
      </section>
    </section>
  </article>
</article> -->
