<h1>Welcome to Iron Adventures</h1>

<section>
  <p>Begin The Story</p>
</section>

<fieldset>
      <legend>Login</legend>
      <aside>
        <label for='name'>Name</label>
        <input type='text' class='form-control' name='fullname' placeholder='Name' id='fullname-input' required>
      </aside>

      <aside>
        <label for='email'>Email Address</label>
        <input type='email' class='form-control' name='email' placeholder='Email' id='email' required>
      </aside>
      <input type='submit' class='btn btn-default' value='Submit'>
</fieldset>
